.contact
{
	width: 100%;
	height: 450px;
	border: 2px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact content
{
    width: 45%;
	height: 440px;
	border: 2px solid green;
}



@keyframes slide{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(0);
	}
	30%{
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(-100%);
	}
	55%{
		transform: translateX(-200%);
	}
	75%{
		transform: translateX(-200%);
	}
	80%{
		transform: translateX(-300%);
	}
	100%{
		transform: translateX(-300%);
	}
}